/* Section: Dentists */
section.dentists h1 {
  margin-bottom: 2.5rem;
}

section.dentists {
  padding: 4.69rem 0;
}

section.dentists .dentist-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3rem;
}

section.dentists .dentist-box {
  max-width: 274px;
  padding-bottom: 1rem;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  section.dentists .dentist-boxes {
    justify-content: space-around;
  }
  section.dentists .dentist-boxes .dentist-box {
    flex-basis: 27%;
  }
}

section.dentists .dentist-box:hover {
  box-shadow: 0px 15px 27px -26px;
}

section.dentists .dentist-box .avatar,
section.dentists .dentist-box .dentist-details {
  text-align: center;
}

section.dentists .dentist-box .avatar {
  margin-bottom: 1rem;
}

section.dentists .dentist-box h4 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: -0.38px;
  text-transform: uppercase;
  text-align: center;
}

section.dentists .dentist-box h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: -0.38px;
  text-transform: uppercase;
  color: #0096ff;
}

section.dentists .dentist-box .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.44rem;
}
