/* Section: Features */
section.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 3.25rem;
  padding: 6rem 0;
}

section.features .feature-box {
  background-color: #0096ff;
  color: #ffffff;
  padding: 1rem 0.75rem;
  border-radius: 20px;
  border: 0;
}

section.features .feature-box:hover {
  background-color: #0078cc;
}

section.features .feature-box .icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}

section.features .feature-box .icon-text h5 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 16px;
  margin-right: 2rem;
}

section.features .feature-box p {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 16px;
}