/* Section: Get In Touch */
section.get-in-touch {
  padding: 60px 0;
  background-color: #f0f6fb;
}

section.get-in-touch h3 {
  color: #0096ff;
  font-size: 1.81rem;
  font-weight: 700;
  text-align: center;
}