/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Modules */
@import "./_miscellaneous.css";
@import "./_navbar.css";
@import "./_header.css";
@import "./_get_in_touch.css";
@import "./_features.css";
@import "./_things-to-know.css";
@import "./_services.css";
@import "./_dentists.css";
@import "./_testimonials.css";
@import "./_blog.css";
@import "./_footer.css";

@import "./_about-us.css";
@import "./_our-doctors.css";

:root {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section h1 {
  font-weight: 800;
  font-size: 2.25rem;
  text-align: center;
  line-height: 4rem;
  color: #18191f;
}

section p.subheader {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 32px;
  text-align: center;
  color: #18191f;
  margin: 0 auto;
}

p.breadcrumbs {
  text-align: center;
}

p.breadcrumbs a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #222222;
}

p.breadcrumbs a:hover {
  text-decoration: underline;
}

p.breadcrumbs a:not(:last-child)::after {
  content: " / ";
}

section.contacts-header {
  background-color: #0096ff;
  padding: 2.69rem 0;
}

section.contacts-header h2 {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  line-height: 33.5px;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

section.contact-datas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 84px;
}

section.contact-datas .contact-data {
  text-align: center;
}

section.contact-datas .contact-data h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 35px;
  margin: 10px 0 14px;
}

section.contact-datas .contact-data p {
  font-weight: 400;
  line-height: 21px;
  font-size: 0.875rem;
  color: #666666;
}

section.map iframe {
  width: 100%;
  height: 80vh;
  margin-bottom: 90px;
}

section.contact-form {
  padding: 108px 0;
}

form {
  margin: 0 auto;
  max-width: 593px;
}

.form-big-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group input,
textarea {
  margin-top: 13px;
}

input,
textarea {
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  background-color: #f6f6f6;
  box-shadow: none;
  outline: none;
  border: 0;
  font-size: 1rem;
  padding: 1rem;
}

textarea {
  resize: none;
}

label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16px;
  color: #666666;
}

button[type="submit"] {
  padding: 15px 68px;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  margin: 0 auto;
}

form .form-group span.form-text {
  font-size: 0.75rem;
  color: #F47174;
  display: none;
  margin-top: 4px;
}

form .form-group span.form-text.not-valid {
  display: block;
}