/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Modules */
@import "./_miscellaneous.css";
@import "./_navbar.css";
@import "./_header.css";
@import "./_get_in_touch.css";
@import "./_features.css";
@import "./_things-to-know.css";
@import "./_services.css";
@import "./_dentists.css";

:root {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section h1 {
  font-weight: 800;
  font-size: 2.25rem;
  text-align: center;
  line-height: 4rem;
  color: #18191f;
}

section.testimonials {
  padding: 5rem 0;
}

section.testimonials p.subheader {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 32px;
  text-align: center;
  color: #18191f;
}

/* section.testimonials .slider-container {
  position: relative;
  width: 50rem;
  min-width: 21.88rem;
  min-height: 15.63rem;
  padding-bottom: 40px;
} */

section.testimonials .slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.75rem;
  padding-top: 2.5rem;
}

section.testimonials .testimonial {
  transition: all 0.5s;
}

section.testimonials .testimonial.active,
section.testimonials .testimonial:hover {
  margin-top: -40px;
}

section.testimonials .testimonial .testimonial-details {
  padding: 2rem 2.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  position: relative;
  margin-bottom: 2.5rem;
}

section.testimonials .testimonial .testimonial-details::after {
  content: "";
  width: 0;
  height: 0;
  /* Triangle effect */
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 1.5rem solid #ffffff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

section.testimonials .testimonial .testimonial-details h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #18191f;
}

section.testimonials .testimonial .testimonial-details p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  text-align: center;
  color: #18191f;
}

section.testimonials .testimonial .testimonial-thumb {
  text-align: center;
}

section.testimonials .testimonial .testimonial-thumb h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 28px;
  color: #18191f;
  margin-top: 0.5rem;
}

section.testimonials .testimonial .testimonial-thumb h4 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  color: #474a57;
}
